.home-container {
   
    background-color: #f9f9f9;
  }
  
  .home-search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
  }
  
  .home-search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .home-search-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-search-button:hover {
    background-color: #0056b3;
  }
  
  .home-recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .home-recipe-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 200px;
  }
  
  .home-recipe-card img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
  }
  
  .home-recipe-card h4 {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .home-recipe-card button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-recipe-card .view-more-button {
    background-color: #007bff;
    color: white;
  }
  
  .home-recipe-card .view-more-button:hover {
    background-color: #0056b3;
  }
  
  .home-recipe-card .add-to-favourite-button {
    background-color: #28a745;
    color: white;
  }
  
  .home-recipe-card .add-to-favourite-button:hover {
    background-color: #218838;
  }
  
  .home-recipe-card .go-to-favourite-button {
    background-color: #17a2b8;
    color: white;
  }
  
  .home-recipe-card .go-to-favourite-button:hover {
    background-color: #138496;
  }
  